

.bg-white{
	background-color: white;
}

.bg-green{
	background-color: green;
}

.bg-red{
	background-color: red;
}

.bg-blue{
	background-color: cyan;
}

.bg-yellow{
	background-color: yellow;
}

.bg-dark{
	background-color: black;
	color: white;
}

.text-red{
	color: red;
}

.text-blue{
	color: cyan;
}

.text-green{
	color: green;
}

.text-navy{
	color: navy;
}

.text-black{
	color: black;
	font-size: 24px; 
}

.outline{
	outline-width: 2px;
	outline-style: solid;
	padding: 5px;
}

.img-fluid{
	max-width:100%;
	max-height:100%;
}

.border{
	border-style: solid;
	border-width: 5px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

.header h1 {
    margin: 0;
}

ul{
	list-style-type: circle;
	background: #3399ff;
	padding: 20px;
}

ul li {
	background: #333;
	margin: 5px;
	border: 1px solid #ddd;
	text-align: center;
}

#overview{
	text-align: center;
	padding-top: 1em;
}

hr{
	border: 3px solid #999;
	border-radius: 5px;
}

.thumbnail{
	float: left;
	border: 1px solid #ddd; /* Gray border */
	border-radius: 4px; /* Rounded border */
	padding: 5px; /* Some padding */
	width: 150px; /* Set a small width */
	margin-right: 10px; 
}

#my-name{
	text-shadow: 2px 2px #ffffff;
	color: navy;
	font-size: x-large;
}

.container{
	width: 80%;
	margin: auto;
}

#navbar{
	display: block;
	text-align: right;
	position: fixed;
	top: -1em;
	width: 100%;
}

body{
	background-image: url(../images/plogo.png");
	background-color: rgb(255,255,255);
	padding: 0;
	margin: 0;
}

.nav-item{
	all: unset;
}

a{
	text-decoration: none;
	color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

a:hover{
	color:red;
}

h3{
	font-family: 'Impact';
	font-weight: bold;
	font-size: 40px;
	width: 75%; 
}


.title{
	color: white;
	background-color: rgb(0,0,75);
	font-family: 'Impact';
	font-weight: bold;
	font-size: 60px;
	text-align: center;
	padding-top: 2em;
	padding-bottom: 1em;
	margin: 0;
}

.subtitle{
	color:navy;
	font-style: italic;
	text-align: center;
	display: block;
	font-family: 'Caveat', cursive;
	font-size: 24px;
}